.header {
  padding: 1rem;
  background-color: #ccd0d5;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.outputHeader {
  padding: 1rem;
  background-color: #444950;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0;
}

.liveIndicator {
  display: flex;
  align-items: center;
}

.liveIndicatorIcon {
  margin-left: 0.5rem;
}

.sandbox {
  border-radius: 5px;
  overflow: hidden;
}

.codeBlockContainer {
  margin-bottom: calc(var(--ifm-leading) * -1);
  background-color: rgb(41, 45, 62);
  /* border-radius: var(--ifm-global-radius); */
}
