name: Deploy package to NPM and GitHub package repository
'on':
  push:
    branches:
      - master

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 10
      - run: npm install
        working-directory: ./nestjs-graphql-utils
      - run: npm test
        working-directory: ./nestjs-graphql-utils
      - uses: JS-DevTools/npm-publish@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          registry: https://npm.pkg.github.com
          package: ./nestjs-graphql-utils/package.json
      - uses: JS-DevTools/npm-publish@v1
        with:
          token: ${{ secrets.NPM_TOKEN }}
          package: ./nestjs-graphql-utils/package.json
          access: public
